@font-face {
    font-family: 'Gilroy-Semibold';
    src: local('Greycliff CF Extra Light'), local('Greycliff-CF-Extra-Light'),
        url('Gilroy-Semibold.woff2') format('woff2'),
        url('Gilroy-Semibold.woff') format('woff'),
        url('Gilroy-Semibold.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
